body {
  background-color: #183ce8 !important;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------------------------- */
/* Question card */
/* --------------------------------------------------------------------- */

.question-card {
  width: 30rem;
}

.question-card > img {
  height: 18rem;
  object-fit: cover;
}

/* --------------------------------------------------------------------- */
/* Answers buttons */
/* --------------------------------------------------------------------- */

.answer {
  /* transition: background-color 150ms ease; */
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.answer:hover {
  background-color: #f0f0f0;
}

.selected-answer {
  background-color: #f0f0f0 !important;
}

.correct-answer {
  background-color: green !important;
  color: white !important;
}

.wrong-answer {
  background-color: red !important;
  color: white !important;
}

/* --------------------------------------------------------------------- */
/* Question Card footer */
/* --------------------------------------------------------------------- */

.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
