body {
  background-color: #183ce8 !important;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-card {
  width: 30rem;
}

.question-card > img {
  height: 18rem;
  object-fit: cover;
}

.answer {
  transition: color 150ms ease, background-color 150ms ease, border-color 150ms ease;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.answer:hover {
  background-color: #f0f0f0;
  border-color: #183ce8;
}
.question-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
